

@media (max-width:1345px){
    header{
    justify-content:space-around ;
    padding: 5px;
    height: min-content;
    }
    .navBar{
        padding-top: 50px;
    }
}
@media (max-width:1024){

}
@media (max-width:768px){
    header{
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        
    }
    .inicio-div h1{
        font-size: 60px;
    }
    .razonSocial{
        padding-left: 0;
        margin-top: 0;
        bottom: 0;
        padding-top: 0px;
        padding-right: 800px;
        height: 90px;
    }

    .razonSocial::first-letter{
        font-size: 73px;
    }
    .subRazonS{
        position: absolute;
        padding-bottom: 40px;
        padding-left: 8px;
        font-size: 16px;
    }
    .navBar{
        gap: 60px;
        height: 60px;
        padding-bottom: 40px;
    }
    .navBar li a{
        font-size: 35px;
        margin: 0;
        padding: 0
    }


}
@media (max-width:425px){
    .razonSocial{
        padding-right: 830px;
        font-size: 75px;
        height: 100px;
    }
    .inicio-div h1{
        font-size: 65px;
    }
    .razonSocial::first-letter{
        font-size: 74px;
    }
    .subRazonS{
        position: absolute;
        padding-bottom: 40px;
        padding-left: 8px;
        font-size: 20px;
    }
    .navBar li a{
    font-size: 40px;
}

}
@media(max-width:320px){
    .razonSocial{
        font-size: 75px;
        height: 110px;
        padding-right: 650px;
    }
    .inicio-div h1{
        font-size: 70px;
    }
    .razonSocial::first-letter{
        font-size: 76px;
    }
    .subRazonS{
        padding-bottom: 155px;
        font-size: 20px;
    }
    .navBar{
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        height: 200px;
        row-gap: 18px;
        padding-bottom:40px;
        margin-left: 80px;
        
    }
    .navBar li a{
    font-size: 50px;
}
}



@media (max-width:1024px){
    .principal{
        height: 110vh;
    }

}
@media (max-width:1208px){
    .principal{
        height: 110vh;
    }
}
@media (max-width:768px) {
    .principal{
        height: 140vh;
    }
    .principal div.bienvenida{
        height: 220px;
    }
    .principal div{
        font-size: 30px;
        height: 320px;
    }
    .presentacion li{
        font-size: 34px;
    }
    .presentacion2{
        font-size: 34px;
    }
    .finalMain{
        font-size: 34px;
    }
}
@media (max-width:425px){
    .principal{
        height: 160vh;
    }
    .principal div.bienvenida{
        height: 320px;
    }
    .principal div{
        font-size: 40px;
        height: 510px;
    }
    .presentacion li{
        font-size: 40px;
    }
    .presentacion2{
        font-size: 40px;
        padding-left: 180px;
        padding-right: 180px;
    }
    .finalMain{
        font-size: 40px;
        padding-left: 200px;
        padding-right: 200px;

    }
}



@media (max-width:768px){
    .titulo-footer{
        font-size: 40px;
        padding-left: 66px;
    }
    .infoContacto div{
        font-size: 28px;
    }
    .infoContacto h4{
        font-size: 28px;
    }
    .suscribete{
        font-size: 26px;
    }
    .unete{
        font-size: 28px;
    }
    .razonSocial{
        font-size: 36px;
    }
    .correoFinal{
        font-size: 20px;
    }
    .ubicacion iframe{
        width: 640px;
        height: 450px;
    }
    .ubicacion img{
        width: 640px;
        height: 450px;
    }
    .correoJoin input{
        height: 40px;
        width: 500px;
    }
    .correoJoin button{
        height: 40px;
        width: 100px;
    }
    .joinButton{
        font-size: 24px;
    }
    .correoJoin input::placeholder{
        font-size: 24px;
        position: relative;
        bottom: 3px;
    }

}

@media (max-width:600px){
    .ubicacion{
        display: flex;
        flex-direction: column;
        padding-left: 200px;
        
    }
    .titulo-footer{
        font-size: 42px;
        padding-left: 200px;

    }
    .infoContacto{
        flex-wrap: wrap;
        width:93%;
    }
    .infoContacto h4{
        font-size: 35px;
    }
    .infoContacto li{
        font-size: 35px;
    }
    .contacto{
        padding-right: 460px;
    }
    .suscribete{
        font-size: 30px;
    }
    .unete{
        font-size: 35px;
    }
    .finalText{
        font-size: 30px;
    }
    .razonSfinal{
        font-size: 45px;
    }
    .correoFinal{
        font-size: 26px;
    }
    .correoJoin input{
        height: 50px;
        width: 600px;
    }
    .correoJoin button{
        height: 50px;
        width: 100px;
    }
    .joinButton{
        font-size: 30px;
    }
    .correoJoin input::placeholder{
        font-size: 30px;
        position: relative;
        bottom: 3px;
    }

}

@media (max-width:425px){
    .ubicacion{
        padding-left: 250px;
    }
    .ubicacion iframe{
        width: 950px;
        height: 600px;
    }
    .ubicacion img{
        width:950px;
        height: 600px;
    }
    .titulo-footer{
        font-size: 60px;
        padding-left: 250px;
    }
    .infoContacto{
        flex-wrap: nowrap;
        flex-direction: column;
        padding-left: 250px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .infoContacto h4{
        font-size: 50px;
    }
    .infoContacto li{
        font-size: 50px;
    }
    .suscribete{
        font-size: 45px;
        padding-left: 350px;
        padding-right: 350px;
    }
    .unete{
        font-size: 48px;
    }
    .razonSfinal{
        font-size: 60px;
    }

    .finalText{
        font-size: 50px;
    }
    .correoFinal{
        font-size: 35px;
    }
    .correoJoin input{
        height: 70px;
        width: 800px;
    }
    .correoJoin button{
        height: 70px;
        width: 200px;
    }
    .joinButton{
        font-size: 40px;
    }
    .correoJoin input::placeholder{
        font-size: 40px;
        position: relative;
        bottom: 3px;
    }
}

@media (max-width:1024px){
    .parrafoCafe p{
        padding-left: 250px;
        padding-right: 250px;
        font-size: 29px;
    }

}
@media(max-width:768px){
    .cafeEncabezado h2{
        font-size: 38px;
        top: 98px;
    }
    .parrafoCafe p{
        padding-left: 200px;
        padding-right: 200px;
        font-size: 34px;
    }
}
@media (max-width:600px){
    .cafeEncabezado h2{
        font-size: 42px;
        top: 98px;
    }
    .parrafoCafe p{
        padding-left: 170px;
        padding-right: 170px;
        font-size: 38px;
    }

}
@media (max-width:425px){
    .cafeEncabezado h2{
        font-size: 46px;
        top: 98px;
    }
    .parrafoCafe p{
        padding-left: 140px;
        padding-right: 140px;
        font-size: 40px;
    }
}




@media (max-width:768px){
    .recTitulo{
        font-size: 38px;
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .recomendaiones-contenido{
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 420px 420px 420px;
        min-width: 1440px;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 60px;
        align-content: center;
        grid-column-gap: 95px;
        grid-row-gap: 90px;
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6"
        ;
    }
    .recomendaiones-contenido img{
        width: 100%;
        height: 330px;
        object-fit: cover;
    }
    .recomendaiones-contenido h5{
        font-size:30px;
    }
}
@media (max-width:550px){
    .recTitulo{
        font-size: 44px;
    }
    .recomendaiones-contenido{
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 490px 490px 490px;
        min-width: 1440px;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 60px;
        align-content: center;
        grid-column-gap: 95px;
        grid-row-gap: 90px;
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6"
        ;
    }
    .recomendaiones-contenido img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .recomendaiones-contenido h5{
        font-size:38px;
    }
}
@media (max-width:425px){
    .recTitulo{
        font-size: 50px;
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .recomendaiones-contenido{
        display: grid;
        grid-template-columns: 900px;
        grid-template-rows: 700px;
        min-width: 1440px;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 60px;
        align-content: center;
        grid-row-gap: 110px;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        ;
    }
    .recomendaiones-contenido img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .recomendaiones-contenido h5{
        font-size:50px;
        padding-top: 40px;
    }
}


@media (max-width:768px){
    .main-reservas{
        grid-template-columns: 600px 600px;
        width: 100%;
        justify-content: center;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        grid-row-gap: 50px;
    }
    .main-reservas button{
        width: 1250px;
        font-size: 30px;
        height: 75px;
    }
    .resTitulo{
        font-size: 40px;
    }

    .main-reservas .div-name {
        font-size: 32px;
    }
    .main-reservas .div-lastname{
        font-size: 32px;
    }
    .main-reservas .div-phone{
        font-size: 32px;
    }
    .main-reservas .div-email{
        font-size: 32px;
    }
    .main-reservas .div-description{
        font-size: 32px;
    }
    .div-name input{
        height: 50px;
    }
    .div-lastname input{
        height: 50px;
    }
    .div-phone input{
        height: 50px;
    }
    .div-email input{
        height: 50px;
    }
    .div-description input{
        height: 50px;
    }
}

@media (max-width:600px){
    .main-reservas{
        grid-template-columns: 900px;
        grid-template-rows: 180px 140px 140px 140px 140px 250px 200px;
        grid-column-gap: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        grid-template-areas: 
        "titulo"
        "name"
        "last-name"
        "phone"
        "email"
        "descrip"
        "button"
        ;
    }
    .main-reservas button{
        width: 900px;
    }
    .resTitulo{
        font-size: 50px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .main-reservas .div-name {
        font-size: 36px;
    }
    .main-reservas .div-lastname{
        font-size: 36px;
        padding-top: 80px;
    }
    .main-reservas .div-phone{
        font-size: 36px;
        padding-top: 80px;
    }
    .main-reservas .div-email{
        font-size: 36px;
        padding-top: 80px;
    }
    .main-reservas .div-description{
        font-size: 36px;
        padding-top: 80px;
    }
    .div-name input{
        height: 60px;
    }
    .div-lastname input{
        height: 60px;
    }
    .div-phone input{
        height: 60px;
    }
    .div-email input{
        height: 60px;
    }
    .div-description input{
        height: 60px;
    }
}

@media (max-width:425px){
    .main-reservas{
        grid-template-columns: 1100px;
        grid-template-rows: 180px 140px 140px 140px 140px 250px 200px;
        grid-column-gap: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0;
        ;
    }
    .main-reservas button{
        width: 1100px;
        font-size: 40px;
    }
    .resTitulo{
        font-size: 60px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .main-reservas .div-name {
        font-size: 42px;
    }
    .main-reservas .div-lastname{
        font-size: 42px;
        padding-top: 80px;
    }
    .main-reservas .div-phone{
        font-size: 42px;
        padding-top: 80px;
    }
    .main-reservas .div-email{
        font-size: 42px;
        padding-top: 80px;
    }
    .main-reservas .div-description{
        font-size: 42px;
        padding-top: 80px;
    }
    .div-name input{
        height: 70px;
    }
    .div-lastname input{
        height: 70px;
    }
    .div-phone input{
        height: 70px;
    }
    .div-email input{
        height: 70px;
    }
    .div-description input{
        height: 70px;
    }
}