* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  padding-top: 0px;
  min-width: 1440px;
  height: 85px;
  background-color: #f6cacb;
  position: sticky;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  z-index: 1112;
}
header h1 {
  text-decoration: none;
  font-family: "Oooh Baby", cursive;
  font-weight: 600;
  font-style: normal;
  color: #1f6c1b;
  font-size: 50px;
  padding-left: 50px;
  margin-top: 15px;
  position: relative;
  bottom: 20px;
}
header h1:first-letter {
  font-size: 53px;
}
header h3 {
  text-decoration: none;
  color: black;
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding-left: 50px;
  position: relative;
  bottom: 43px;
}
header .navBar {
  display: flex;
  gap: 30px;
  list-style-type: none;
  padding-right: 50px;
}
header .navBar li a {
  display: flex;
  text-decoration: none;
  color: #1f6c1b;
  font-family: "Questrial", sans-serif;
  font-size: 28px;
  margin-top: 30px;
  position: relative;
  bottom: 20px;
}

body {
  background-color: #faedee;
}

.principal {
  background-image: url("../assets/img/foto-pagina-principal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 1440px;
  height: 90vh;
  position: relative;
}
.principal div {
  background-color: rgba(156, 117, 145, 0.7568627451);
  padding: 30px;
  border-radius: 20px;
  font-weight: 100;
  position: absolute;
  left: 800px;
  top: 410px;
  width: 445px;
  height: 270px;
  font-family: "Questrial", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 26px;
  color: white;
  text-align: center;
}
.principal .bienvenida {
  background-color: rgba(157, 118, 147, 0.7568627451);
  padding: 30px;
  border-radius: 20px;
  position: absolute;
  top: 140px;
  left: 180px;
  width: 440px;
  height: 180px;
  text-align: center;
}

.presentacion {
  text-decoration: none;
  justify-content: center;
  padding-top: 50px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 50px;
  color: #a2b99a;
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 30px;
  min-width: 1440px;
}

.imagen-contenedor1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 250px 250px;
  min-width: 1440px;
  grid-template-areas: "img1 img2 img3 img4" "img5 img6 img7 img8";
}
.imagen-contenedor1 .img1 {
  grid-area: img1;
}
.imagen-contenedor1 .img2 {
  grid-area: img2;
}
.imagen-contenedor1 .img3 {
  grid-area: img3;
}
.imagen-contenedor1 .img4 {
  grid-area: img4;
}
.imagen-contenedor1 .img5 {
  grid-area: img5;
}
.imagen-contenedor1 .img6 {
  grid-area: img6;
}
.imagen-contenedor1 .img7 {
  grid-area: img7;
}
.imagen-contenedor1 .img8 {
  grid-area: img8;
}
.imagen-contenedor1 img {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

.presentacion2 {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 50px 200px 50px 200px;
  color: #a2b99a;
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 30px;
  min-width: 1440px;
}

.expMenu {
  display: grid;
  justify-content: center;
  grid-template-columns: 450px 300px 450px;
  grid-template-rows: 450px;
  min-width: 1440px;
  padding-bottom: 150px;
}
.expMenu img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}
.expMenu .invitacionMenu {
  background-image: url("../assets/img/exp2.png");
  background-repeat: no-repeat;
  background-size: 303px;
}
.expMenu p {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  padding-top: 90px;
  font-family: "Questrial", sans-serif;
  color: #162421;
  font-size: 38px;
  font-weight: 300;
}
.expMenu .explora-menu {
  position: relative;
  top: 60px;
}
.expMenu .menuinv a {
  color: black;
  text-decoration: none;
  position: relative;
  bottom: 60px;
}

.finalMain {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "Questrial", sans-serif;
  color: #a2b99a;
  font-size: 30px;
  position: relative;
  bottom: 130px;
  padding-left: 250px;
  padding-right: 250px;
  text-align: center;
  padding-top: 50px;
  min-width: 1440px;
}

footer {
  background-color: #a2b99a;
  min-height: 717px;
  min-width: 1440px;
  justify-content: center;
  position: relative;
  bottom: 0;
}
footer h2 {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  padding: 20px;
  padding-left: 200px;
  font-size: 32px;
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer section img, footer section iframe {
  width: 500px;
  height: 400px;
}

address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-width: 1440px;
  padding-top: 25px;
}
address h4, address div p {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  padding-bottom: 15px;
}
address div p {
  padding: 4px;
}

article .suscribete {
  font-family: "Questrial", sans-serif;
  text-align: center;
  color: black;
  padding: 20px 500px;
  font-size: 20px;
}
article .suscribete .unete {
  font-family: "Questrial", sans-serif;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 200;
}
article .correoJoin {
  display: flex;
  justify-content: center;
}
article .correoJoin input {
  font-size: 36px;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  height: 30px;
}
article .correoJoin input::placeholder {
  font-size: 16px;
  position: relative;
  bottom: 8px;
  left: 6px;
}
article .correoJoin button {
  border: 1px solid black;
  background-color: #1f6c1b;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  width: 50px;
  height: 30px;
  cursor: pointer;
}
article .correoJoin button:hover {
  background-color: #013b01;
}
article .correoJoin button:focus {
  background-color: rgba(255, 255, 0, 0.592);
  color: black;
  outline: none;
}
article .finalText {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  color: #1f6c1b;
  font-weight: 100;
  font-size: 25px;
  padding-top: 10px;
}
article .finalText p:first-child {
  font-family: "Oooh Baby", cursive;
  font-size: 32px;
  font-weight: 800;
}
article .finalText p:last-child {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}

.cafeEncabezado {
  background-image: url("../assets/img/pagCafeEncabezado .png");
  min-width: 1440px;
  height: 30vh;
  background-position: center;
  background-size: cover;
}
.cafeEncabezado h2 {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 34px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}

.contenidoCafe {
  min-width: 1440px;
  background-image: url("../assets/img/mapaEjeC.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.contenidoCafe div p {
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  font-weight: 100;
  color: black;
  font-size: 24px;
  text-align: center;
  padding: 50px 200px;
  min-width: 1440px;
}
.contenidoCafe div .parCafe1 {
  position: relative;
  top: 70px;
}
.contenidoCafe div .parCafe3 {
  position: relative;
  bottom: 80px;
}

.main-menu {
  display: grid;
  min-width: 1440px;
  grid-template-columns: 600px 600px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  grid-template-areas: "bebca1 bebfri2" "menu1 menu2";
}
.main-menu .bebca1 {
  grid-area: bebca1;
  padding: 80px;
}
.main-menu .bebfri2 {
  grid-area: bebfri2;
  padding: 80px;
}
.main-menu .menu1 {
  grid-area: menu1;
  padding: 80px;
  position: relative;
  bottom: 500px;
}
.main-menu .menu2 {
  grid-area: menu2;
  padding: 80px;
  position: relative;
  bottom: 250px;
}
.main-menu h2 {
  font-size: 22px;
  color: #876287;
  font-weight: 500;
}
.main-menu h4, .main-menu address div p, address div .main-menu p {
  color: #1f6c1b;
  font-weight: 400;
}
.main-menu .optBebidasCalientes {
  font-size: 16px;
}
.main-menu hr {
  height: 2px;
  width: 500px;
  background-color: #a2b99a;
}
.main-menu .hr1 hr {
  border-left: #a2b99a;
  width: 2px;
  height: 640px;
  position: absolute;
  left: 728px;
}
.main-menu .hr2 hr {
  border-left: #a2b99a;
  width: 2px;
  position: absolute;
  left: 610px;
  top: 100px;
  height: 1100px;
}
.main-menu .bebca1 img {
  width: 80px;
  height: 80px;
}
.main-menu .bebfri2 img {
  width: 70px;
  height: 60px;
  position: relative;
  top: 10px;
}

.advComida {
  color: red;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 500px;
}

.recTitulo {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  text-align: center;
  color: #876287;
  padding-top: 70px;
  padding-bottom: 40px;
  min-width: 1440px;
  width: 100%;
}

.recomendaiones-contenido {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 390px 390px;
  min-width: 1440px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
  align-content: center;
  grid-column-gap: 80px;
  grid-row-gap: 50px;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6";
}
.recomendaiones-contenido img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}
.recomendaiones-contenido h5 {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
}

.rec-1 {
  grid-area: img1;
}

.rec-2 {
  grid-area: img2;
}

.rec-3 {
  grid-area: img3;
}

.rec-4 {
  grid-area: img4;
}

.rec-5 {
  grid-area: img5;
}

.rec-6 {
  grid-area: img6;
}

.main-reservas {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 100px 90px 90px 200px 100px;
  grid-column-gap: 60px;
  grid-row-gap: 30px;
  min-width: 1440px;
  justify-content: center;
  align-content: center;
  padding-top: 70px;
  padding-bottom: 50px;
  grid-template-areas: "titulo titulo" "name last-name" "phone email" "descrip descrip" "button button";
}
.main-reservas .div-name {
  grid-area: name;
}
.main-reservas .div-lastname {
  grid-area: last-name;
}
.main-reservas .div-phone {
  grid-area: phone;
}
.main-reservas .div-email {
  grid-area: email;
}
.main-reservas .div-description {
  grid-area: descrip;
}
.main-reservas .resButton {
  grid-area: button;
}
.main-reservas h4, .main-reservas address div p, address div .main-reservas p {
  display: grid;
  grid-area: titulo;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  color: black;
  font-size: 35px;
  font-weight: 300;
  padding-bottom: 58px;
}
.main-reservas div {
  display: grid;
  align-content: center;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  color: black;
  font-size: 26px;
  font-weight: 100;
}
.main-reservas div input {
  border: none;
  padding-top: 10px;
  padding: 10px 0px;
  border-radius: 20px;
}
.main-reservas button {
  border: none;
  background-color: #f89265;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  color: black;
  border-radius: 20px;
  font-size: 26px;
  font-weight: 100;
  width: 1060px;
  height: 60px;
}
.main-reservas button:hover {
  background-color: #f77842;
}
.main-reservas button:focus {
  background-color: #f5540e;
  color: white;
  outline: none;
}
.main-reservas .div-description input {
  padding-bottom: 80px;
}

@media (max-width: 1345px) {
  header {
    width: 1440px;
    height: auto;
    justify-content: space-around;
    padding: 5px;
    height: min-content;
  }
  header .navBar {
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  header {
    width: 1440px;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  header h1 {
    font-size: 80px;
    padding-left: 0;
    margin-top: 0;
    bottom: 0;
    padding-top: 0px;
    padding-right: 800px;
    font-weight: 400;
  }
  header h1:first-letter {
    font-size: 90px;
  }
  header h3 {
    position: absolute;
    padding-bottom: 100px;
    padding-left: 8px;
    font-size: 24px;
    font-weight: 500;
  }
  header .navBar {
    gap: 60px;
    position: relative;
    bottom: 4px;
  }
  header .navBar li a {
    font-size: 40px;
  }
}
@media (max-width: 768px) and (max-width: 425px) {
  header {
    height: 440px;
  }
  header h1 {
    padding-right: 600px;
    font-size: 120px;
    height: 100px;
    font-weight: 600;
    padding-bottom: 150px;
  }
  header h1:first-letter {
    font-size: 130px;
  }
  header h3 {
    position: absolute;
    padding-bottom: 178px;
    padding-left: 8px;
    font-size: 30px;
    font-weight: 600;
  }
  header .navBar {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    row-gap: 0px;
    margin-left: 80px;
    position: relative;
    bottom: 20px;
  }
  header .navBar li a {
    font-size: 60px;
  }
}
@media (max-width: 768px) and (max-width: 320px) {
  header {
    height: 360px;
  }
  header h1 {
    font-size: 90px;
    height: 110px;
    padding-right: 650px;
  }
  header h1:first-letter {
    font-size: 92px;
  }
  header h3 {
    padding-bottom: 159px;
    font-size: 20px;
  }
  header .navBar li a {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  footer h2 {
    font-size: 40px;
    padding-left: 66px;
  }
  footer section img, footer section iframe {
    width: 640px;
    height: 450px;
  }
  footer address h4, footer address div p {
    font-size: 28px;
  }
  footer address div {
    font-size: 28px;
  }
  footer article .suscribete {
    font-size: 26px;
  }
  footer article .suscribete .unete {
    font-size: 28px;
  }
  footer article .correoJoin input {
    height: 40px;
    width: 500px;
  }
  footer article .correoJoin input::placeholder {
    font-size: 24px;
    position: relative;
    bottom: 3px;
  }
  footer article .correoJoin button {
    height: 40px;
    width: 65px;
    font-size: 20px;
  }
  footer article .finalText p:first-child {
    font-size: 36px;
  }
  footer article .finalText p:last-child {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  footer h2 {
    font-size: 54px;
    padding-left: 120px;
  }
  footer section {
    display: flex;
    flex-direction: column;
  }
  footer section img, footer section iframe {
    width: 1200px;
    height: 750px;
  }
  footer address {
    flex-wrap: wrap;
  }
  footer address h4, footer address div p {
    font-size: 42px;
  }
  footer address div {
    font-size: 42px;
  }
  footer address .direccion {
    padding-left: 14px;
  }
  footer address .contacto {
    padding-left: 20px;
    position: relative;
    right: 292px;
  }
  footer article .suscribete {
    font-size: 32px;
  }
  footer article .suscribete .unete {
    font-size: 40px;
  }
  footer article .correoJoin input {
    height: 70px;
    width: 700px;
  }
  footer article .correoJoin input::placeholder {
    font-size: 32px;
    position: relative;
    bottom: 3px;
  }
  footer article .correoJoin button {
    height: 70px;
    width: 90px;
    font-size: 28px;
  }
  footer article .finalText {
    font-size: 30px;
  }
  footer article .finalText p:first-child {
    font-size: 45px;
  }
  footer article .finalText p:last-child {
    font-size: 26px;
  }
}
@media (max-width: 425px) {
  footer h2 {
    font-size: 65px;
    padding-left: 70px;
  }
  footer section {
    width: 100%;
    align-items: center;
  }
  footer section img, footer section iframe {
    width: 1300px;
    height: 800px;
  }
  footer address {
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 500px;
  }
  footer address h4, footer address div p {
    font-size: 55px;
  }
  footer address div {
    font-size: 55px;
  }
  footer address .direccion {
    padding-right: 96px;
  }
  footer address .horario {
    padding-right: 50px;
  }
  footer address .contacto {
    padding-left: 510px;
  }
  footer article .suscribete {
    font-size: 48px;
    padding-left: 350px;
    padding-right: 350px;
  }
  footer article .suscribete .unete {
    font-size: 52px;
  }
  footer article .correoJoin input {
    height: 120px;
    width: 900px;
  }
  footer article .correoJoin input::placeholder {
    font-size: 50px;
    position: relative;
    bottom: 3px;
  }
  footer article .correoJoin button {
    height: 120px;
    width: 150px;
    font-size: 40px;
  }
  footer article .finalText {
    font-size: 50px;
  }
  footer article .finalText p:first-child {
    font-size: 60px;
  }
  footer article .finalText p:last-child {
    font-size: 40px;
  }
}
@media (max-width: 1280px) {
  .principal {
    height: 120vh;
  }
}
@media (max-width: 1208px) {
  .principal {
    height: 130vh;
  }
  .principal .teInvitamos {
    position: relative;
    top: 500px;
  }
  .presentacion {
    padding-right: 100px;
    padding-left: 100px;
  }
  .presentacion2 {
    padding-right: 100px;
    padding-left: 100px;
  }
  .finalMain {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media (max-width: 1024px) {
  .principal {
    height: 140vh;
  }
}
@media (max-width: 768px) {
  .principal {
    height: 150vh;
  }
  .principal div {
    height: 350px;
    font-size: 32px;
  }
  .principal .bienvenida {
    height: 250px;
  }
  .principal .teInvitamos {
    position: relative;
    top: 600px;
  }
  .presentacion {
    font-size: 36px;
    padding-right: 130px;
    padding-left: 130px;
  }
  .presentacion2 {
    font-size: 36px;
  }
  .finalMain {
    font-size: 36px;
  }
  .imagen-contenedor1 {
    display: grid;
    grid-template-columns: 580px 580px;
    grid-template-rows: 420px 420px 420px;
    grid-template-areas: "img1 img5" "img2 img6" "img3 img7" "img4 img8";
  }
  .imagen-contenedor1 img {
    height: 420px;
    width: 580px;
    object-fit: cover;
  }
  .expMenu {
    display: grid;
    grid-template-columns: 410px 300px 410px;
    grid-template-rows: 500px;
    position: relative;
    right: 20px;
    object-fit: cover;
  }
  .expMenu img {
    height: 500px;
  }
  .expMenu .invitacionMenu {
    background-size: 340px;
    object-fit: cover;
  }
  .expMenu p {
    font-size: 45px;
  }
}
@media (max-width: 640px) {
  .principal div {
    width: 630px;
    height: 280px;
    left: 620px;
    font-size: 35px;
  }
  .principal .bienvenida {
    width: 610px;
    height: 216px;
  }
  .presentacion p {
    font-size: 40px;
  }
  .presentacion2 {
    font-size: 40px;
  }
  .finalMain {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .principal {
    height: 230vh;
  }
  .principal div {
    font-size: 65px;
    height: 550px;
    width: 1100px;
  }
  .principal .bienvenida {
    height: 400px;
    width: 1100px;
    left: 190px;
  }
  .principal .teInvitamos {
    top: 700px;
    left: 190px;
  }
  .presentacion p {
    font-size: 65px;
  }
  .presentacion2 {
    font-size: 65px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .finalMain {
    font-size: 65px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .expMenu p {
    font-size: 50px;
  }
  .imagen-contenedor1 {
    display: grid;
    grid-template-columns: 1300px;
    grid-template-rows: 800px 800px 800px 800px 800px 800px 800px 800px;
    grid-template-areas: "img1" "img5" "img2" "img6" "img3" "img7" "img4" "img8";
  }
  .imagen-contenedor1 img {
    height: 800px;
    width: 1300px;
    object-fit: cover;
  }
}
@media (max-width: 1024px) {
  .contenidoCafe div p {
    font-size: 29px;
  }
}
@media (max-width: 768px) {
  .cafeEncabezado h2 {
    font-size: 38px;
    top: 98px;
  }
  .contenidoCafe div p {
    font-size: 34px;
  }
}
@media (max-width: 600px) {
  .cafeEncabezado h2 {
    font-size: 42px;
    top: 98px;
  }
  .parrafoCafe p {
    font-size: 38px;
  }
}
@media (max-width: 425px) {
  .cafeEncabezado h2 {
    font-size: 46px;
    top: 98px;
  }
  .contenidoCafe div {
    font-size: 42px;
  }
  .contenidoCafe div p {
    padding-left: 140px;
    padding-right: 140px;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .recTitulo {
    font-size: 38px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .recomendaiones-contenido {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 420px 420px 420px;
    min-width: 1440px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
    align-content: center;
    grid-column-gap: 95px;
    grid-row-gap: 90px;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  }
  .recomendaiones-contenido div img {
    width: 100%;
    height: 330px;
    object-fit: cover;
  }
  .recomendaiones-contenido div h5 {
    font-size: 30px;
  }
}
@media (max-width: 550px) {
  .recTitulo {
    font-size: 44px;
  }
  .recomendaiones-contenido {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 490px 490px 490px;
    min-width: 1440px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
    align-content: center;
    grid-column-gap: 95px;
    grid-row-gap: 90px;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  }
  .recomendaiones-contenido div img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .recomendaiones-contenido div h5 {
    font-size: 38px;
  }
}
@media (max-width: 425px) {
  .recTitulo {
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .recomendaiones-contenido {
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: 700px;
    min-width: 1440px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
    align-content: center;
    grid-row-gap: 110px;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
  }
  .recomendaiones-contenido div img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .recomendaiones-contenido div h5 {
    font-size: 50px;
    padding-top: 40px;
  }
}
@media (max-width: 768px) {
  .main-reservas {
    grid-template-columns: 600px 600px;
    width: 100%;
    justify-content: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-row-gap: 50px;
  }
  .main-reservas h4, .main-reservas address div p, address div .main-reservas p {
    font-size: 40px;
  }
  .main-reservas button {
    width: 1250px;
    font-size: 30px;
    height: 75px;
  }
  .main-reservas div label {
    font-size: 32px;
  }
  .main-reservas div input {
    height: 50px;
  }
}
@media (max-width: 600px) {
  .main-reservas {
    grid-template-columns: 900px;
    grid-template-rows: 180px 140px 140px 140px 140px 250px 200px;
    grid-column-gap: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-template-areas: "titulo" "name" "last-name" "phone" "email" "descrip" "button";
  }
  .main-reservas h4, .main-reservas address div p, address div .main-reservas p {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .main-reservas div {
    padding-top: 80px;
  }
  .main-reservas div label {
    font-size: 40px;
  }
  .main-reservas div input {
    height: 60px;
  }
  .main-reservas button {
    width: 900px;
  }
}
@media (max-width: 425px) {
  .main-reservas {
    grid-template-columns: 1100px;
    grid-template-rows: 180px 140px 140px 140px 140px 250px 200px;
    grid-column-gap: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
  }
  .main-reservas h4, .main-reservas address div p, address div .main-reservas p {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .main-reservas button {
    width: 1100px;
    font-size: 40px;
  }
  .main-reservas div label {
    font-size: 42px;
    padding-top: 80px;
  }
  .main-reservas div input {
    height: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
