@import "./utilities/_mapas.scss";
@import "./utilities/_mixins";
@import "./base/_reset";

header{
    @include flex (row, space-between, center, none);
    padding-top: 0px;
    min-width: 1440px;
    height: 95px;
    background-color: map-get($colores,backgroundNav);
    position:sticky;
    top:0;
    left: 0;
    flex-wrap: wrap;
    z-index: 100000; 
    h1{
        text-decoration: none;
        font-family: "Oooh Baby", cursive;
        font-weight: 300;
        font-style: normal;
        color: map-get($colores, letraPrincipalNav );
        font-size: 40px;
        padding-left: 50px;
        margin-top: 10px;
        position: relative;
        bottom: 15px;
        &:first-letter{
        font-size: 45px;
        }
    }
    h3{
        text-decoration: none;
        color: black;
        font-family: "Questrial", sans-serif;
        font-weight: 500;
        font-size: 12px;
        padding-left: 54px;
        position: relative;
        bottom: 22px;
    }
    .navBar{
        display: flex;
        gap: 30px;
        list-style-type: none;
        padding-right: 50px;
        }
        .navBar li a{
            display: flex;
            text-decoration: none;
            color: map-get($colores, letraPrincipalNav );
            font-family: "Questrial", sans-serif;
            font-size: 28px; 
            margin-top: 30px;
            position: relative;
            bottom: 20px;
            }
    }
    
    body{
        background-color: map-get($colores, backgroundBody );
    }
    .principal{
        background-image: url("https://images.unsplash.com/photo-1621523133136-cea844f32bdf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 1440px;
        height: 95vh;
        position: relative;
        div{
            background-color: #9c7591c1;
            padding: 30px;
            border-radius: 20px;
            font-weight: 100;
            position: absolute;
            left: 800px;
            top: 410px;
            width: 445px;
            height: 270px;
            font-family: "Questrial", sans-serif;
            font-style: normal;
            font-weight: 100;
            font-size: 26px;
            color: white;
            text-align: center;
            
        }
        .bienvenida{ 
            background-color: #9d7693c1;
            padding: 30px;
            border-radius: 20px;
            position: absolute;
            top: 140px;
            left: 180px;
            width: 440px;
            height: 180px;
            text-align: center;
        }
    }
        .presentacion{
        text-decoration: none;
        justify-content: center;
        padding-top: 50px;
        padding-right: 200px;
        padding-left: 200px;
        padding-bottom: 50px;
        color: map-get($colores, contenidoinicioYfooter );
        text-align: center;
        font-family: "Questrial", sans-serif;
        font-size: 30px;
        min-width: 1440px;
        }
        .imagen-contenedor1{
            display: grid;
            justify-content: center;
            grid-template-columns: 300px 300px 300px 300px ;
            grid-template-rows: 250px 250px;
            min-width: 1440px;
            grid-template-areas:
            "img1 img2 img3 img4"
            "img5 img6 img7 img8"
            ;
            .img1{
                grid-area: img1;
            }
            .img2{
                grid-area: img2;
            }
            .img3{
                grid-area: img3;
            }
            .img4{
                grid-area: img4;
            }
            .img5{
                grid-area: img5;
            }
            .img6{
                grid-area: img6;
            }
            .img7{
                grid-area: img7;
            }
            .img8{
                grid-area: img8;
            }
            img{
                height: 250px;
                width: 300px;
                object-fit: cover;
            }
        }
        .presentacion2{
            display: flex;
            text-decoration: none;
            justify-content: center;
            padding: 50px 200px 50px 200px;
            color: map-get($colores, contenidoinicioYfooter );
            text-align: center;
            font-family: "Questrial", sans-serif;
            font-size: 30px;
            min-width: 1440px;
        
        }
        .expMenu{
            display: grid;
            justify-content: center;
            grid-template-columns: 450px 300px 450px ;
            grid-template-rows: 450px;
            min-width: 1440px; 
            padding-bottom: 150px;
            img{
                width: 450px;
                height: 450px;
                object-fit: cover;
            }
            .invitacionMenu{
                background-image: url("../assets/img/exp2.png");
                background-repeat: no-repeat;
                background-size: cover;
            }
            p{
                list-style-type: none;
                text-decoration: none;
                text-align: center;
                padding-top: 90px;
                font-family: "Questrial", sans-serif;
                color: #162421;
                font-size: 38px;
                font-weight: 300;
            }
            .explora-menu{
                position: relative;
                top: 60px;
            }
            .menuinv a{
                color: black;
                text-decoration: none;
                position: relative;
                bottom: 60px;
            }
        }
        .finalMain{
            text-decoration: none;
            display: flex;
            justify-content: center;
            font-family: "Questrial", sans-serif;
            color: map-get($colores, contenidoinicioYfooter );
            font-size: 30px;
            position: relative;
            bottom: 130px;
            padding-left: 250px;
            padding-right: 250px;
            text-align: center;
            padding-top: 50px;
            min-width: 1440px;
        
        }
        footer{
            background-color:map-get($colores, contenidoinicioYfooter  );
            min-height: 717px;
            min-width: 1440px;
            justify-content: center;
            position: relative;
            bottom: 0;
            h2{
                text-decoration: none;
                font-family: "Poppins", sans-serif;
                font-weight: 100;
                padding:20px;
                padding-left:200px;
                font-size:32px;
            }
            section{
                @include flex (row, center, center, 30px);
                img, iframe{
                    width: 500px;
                    height: 400px;
                }
            }
        }
        address{
            @include flex (row, center, center, 50px);
            min-width: 1440px;
            padding-top:25px;
            h4{
                text-decoration: none;
                color: white;
                font-family: "Poppins", sans-serif;
                font-weight: 100;
                font-style: normal;
                font-size: 24px;
                padding-bottom: 15px;
            }
            div{
                p{
                    @extend h4;
                    padding: 4px;
                }
            }
        }
        article{
            .suscribete{
                font-family: "Questrial", sans-serif;
                text-align: center;
                color: black;
                padding: 20px 500px;
                font-size: 20px;
                .unete{
                    font-family: "Questrial", sans-serif;
                    text-align: center;
                    color: white;
                    padding-top: 20px;
                    font-size: 24px;
                    font-weight: 200;
                }
            }
            .correoJoin{
                display: flex;
                justify-content: center;
                input{
                    font-size: 36px;
                    border: 1px;
                    border-style: solid;
                    border-color: black;
                    background-color: white;
                    height: 30px;
                    &::placeholder{
                        font-size: 16px;
                        position: relative;
                        bottom: 8px;
                        left: 6px;
                    }
                }
                button{
                    border: 1px solid black;
                    background-color: map-get($colores, letraPrincipalNav );
                    text-decoration: none;
                    font-family: "Questrial", sans-serif;
                    color: white;
                    font-size: 14px;
                    font-weight: 100;
                    text-align: center;
                    width: 50px;
                    height: 30px;
                    cursor: pointer;
                    &:hover{
                        background-color: #013b01;
                    }
                    &:focus{
                        background-color: rgba(255, 255, 0, 0.592);
                        color: black;
                        outline: none;
                    }
                }
            }
            .finalText{
                list-style-type: none;
                text-align: center;
                text-decoration: none;
                font-family: "Questrial", sans-serif;
                color: map-get($colores, letraPrincipalNav );
                font-weight: 100;
                font-size: 25px;
                padding-top: 10px;
                p:first-child{
                    font-family: "Oooh Baby", cursive;
                    font-size: 32px;
                    font-weight: 300;
                }
                p:last-child{
                    font-size: 14px;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    font-size: 20px;
                }
            }
        }
        .cafeEncabezado{
            background-image: url("../assets/img/pagCafeEncabezado\ .png");
            min-width: 1440px;
            height: 30vh;
            background-position: center;
            background-size: cover;
            h2{
                text-decoration: none;
                color: white;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-size: 34px;
                display: flex;
                justify-content: center;
                position: relative;
                top: 120px;
            }
        }
        .contenidoCafe{
            min-width: 1440px;
            background-image: url("../assets/img/mapaEjeC.png");
            height: auto;
            background-repeat: no-repeat;
            background-position:center;
            div{
                p{
                    text-decoration: none;
                    font-family: "Questrial", sans-serif;
                    font-weight: 100;
                    color: black;
                    font-size: 24px;
                    text-align: center;
                    padding: 50px 200px;
                    min-width: 1440px;
                    }
                    .parCafe1{
                        position: relative;
                        top: 70px;
                    }
                    .parCafe3{
                        position: relative;
                        bottom: 80px;
                    }
                }
        }
        .main-menu{
            display: grid;
            min-width: 1440px;
            grid-template-columns:   600px 600px;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-content: center;
            text-align: left;
            margin-top: 40px;
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            grid-template-areas: 
            "bebca1 bebfri2"
            "menu1 menu2"
            ;
            .bebca1{
                grid-area: bebca1;
                padding: 80px;
            }
            .bebfri2{
                grid-area: bebfri2;
                padding: 80px;
            }
            .menu1{
                grid-area: menu1;
                padding: 80px;
                position: relative;
                bottom: 570px;
            }
            .menu2{
                grid-area: menu2;
                padding: 80px;
                position: relative;
                bottom: 200px;
            }
            p{
                padding-bottom: 8px;
            }
            h2{
                
                font-size: 22px;
                color: map-get($colores, titulos );
                font-weight: 500;
                
            }
            h4{
                color: map-get($colores, letraPrincipalNav );
                font-weight: 400;
                padding-bottom: 8px;
            }
            .optBebidasCalientes{
                font-size: 16px;
            }
            hr{
                height: 2px;
                width: 500px;
                background-color: map-get($colores, contenidoinicioYfooter );
            }
            .hr1 hr{
                border-left: map-get($colores, contenidoinicioYfooter );
                width: 2px;
                height: 850px;
                position: absolute;
                left: 728px;
            }
            .hr2 hr{
                border-left: map-get($colores, contenidoinicioYfooter );
                width: 2px;
                position: absolute;
                left: 610px;
                top: 100px;
                height: 1380px;
            }
            .bebca1 img{
                width: 80px;
                height: 80px;
            }
            .bebfri2 img{
                width: 70px;
                height: 60px;
                position: relative;
                top: 10px;
                
            }
            }
        .advComida{
            color: red;
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            text-align: center;
            min-width: 1440px;
            position: relative;
            bottom: 500px;
            }
        .recTitulo{
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            text-align: center;
            color: map-get($colores, titulos );
            padding-top: 70px;
            padding-bottom: 40px;
            min-width: 1440px;
            width: 100%;
        }
        .recomendaiones-contenido{
            display: grid;
            grid-template-columns: 300px 300px 300px ;
            grid-template-rows: 390px 390px;
            min-width: 1440px;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 60px;
            align-content: center;
            grid-column-gap: 80px;
            grid-row-gap: 50px;
            grid-template-areas: 
            "img1 img2 img3"
            "img4 img5 img6"
            ;
            img{
                width: 100%;
                height: 330px;
                object-fit: cover;
            }
            h5{
                text-decoration: none;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-weight: 100;
                font-size: 22px;
                text-align: center;
                padding-top: 10px;
            }
        }
        
        .rec-1{
            grid-area: img1;
        }
        .rec-2{
            grid-area: img2;
        }
        .rec-3{
            grid-area: img3;
        }
        .rec-4{
            grid-area: img4;
        }
        .rec-5{
            grid-area: img5;
        }
        .rec-6{
            grid-area: img6;
        }
        .main-reservas{
            display: grid;
            grid-template-columns: 500px 500px;
            grid-template-rows: 100px 90px 90px 200px 100px;
            grid-column-gap: 60px;
            grid-row-gap: 30px;
            min-width: 1440px;
            justify-content: center;
            align-content: center;
            padding-top: 70px;
            padding-bottom: 50px;
            grid-template-areas: 
            "titulo titulo"
            "name last-name" 
            "phone email" 
            "descrip descrip" 
            "button button" 
            ;
            .div-name{
                grid-area: name;
            }
            .div-lastname{
                grid-area: last-name;
            }
            .div-phone{
                grid-area: phone;
            }
            .div-email{
                grid-area: email;
            }
            .div-description{
                grid-area: descrip;
            }
            .resButton{
                grid-area: button;
            }
            h4{
                display: grid;
                grid-area: titulo;
                align-content: center;
                justify-content: center;
                text-decoration: none;
                font-family: "Questrial", sans-serif;
                color: black;
                font-size: 35px;
                font-weight: 300;
                padding-bottom: 58px;
                }
                div{
                    display: grid;
                    align-content: center;
                    text-decoration: none;
                    font-family: "Questrial", sans-serif;
                    color: black;
                    font-size: 26px;
                    font-weight: 100;
                    input{
                        border: none;
                        padding-top: 10px;
                        padding: 10px 0px;
                        border-radius: 20px;
                    }
                }
                button{
                    border: none;
                    background-color: #f89265;
                    text-decoration: none;
                    font-family: "Questrial", sans-serif;
                    color: black;
                    border-radius: 20px;
                    font-size: 26px;
                    font-weight: 100;
                    width: 1060px;
                    height: 60px;
                    &:hover{
                        background-color: #f77842;
                    }
                    &:focus{
                        background-color: #f5540e;
                        color: white;
                        outline: none;
                }
            }
            .div-description input{
                padding-bottom: 80px;
            }
        }
        
        @import "./layout/MediaQuerry/mediaQheader";
        @import "./layout/MediaQuerry/mediaQfooter";
        @import "./layout/MediaQuerry/mediaQmain";
