@media (max-width:768px){
    footer{
        h2{
            font-size: 40px;
            padding-left: 66px;
        }
        section{
            img, iframe{
                width: 640px;
                height: 450px;
            }
        }
        address{
            h4{
                font-size: 28px;
            }
            div{
                font-size: 28px;
            }
        }
        article{
            .suscribete{
                font-size: 26px;
                .unete{
                    font-size: 28px;
                }
            }
            .correoJoin{
                input{
                    height: 40px;
                    width: 500px;
                    &::placeholder{
                        font-size: 24px;
                        position: relative;
                        bottom: 3px;
                    }
                }
                button{
                    height: 40px;
                    width: 65px;
                    font-size: 20px;
                }
            }
            .finalText{
                p:first-child{
                    font-size: 36px;
                }
                p:last-child{
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width:600px){
    footer{
        h2{
            font-size: 54px;
            padding-left: 120px;
        }
        section{
            display: flex;
            flex-direction: column;
            img, iframe{
                width: 1200px;
                height: 750px;
            }
        }
        address{
            flex-wrap: wrap;
            h4{
                font-size: 42px;
            }
            div{
                font-size: 42px;
            }
            .direccion{
                padding-left: 14px;
            }
            .contacto{
                padding-left: 20px;
                position: relative;
                right: 292px;
            }
        }
        article{
            .suscribete{
                font-size: 32px;
                .unete{
                    font-size: 40px;
                }
            }
            .correoJoin{
                input{
                    height: 70px;
                    width: 700px;
                    &::placeholder{
                        font-size: 32px;
                        position: relative;
                        bottom: 3px;
                    }
                }
                button{
                    height: 70px;
                    width: 90px;
                    font-size: 28px;
                }
            }
            .finalText{
                font-size: 30px;
                p:first-child{
                    font-size: 45px;
                }
                p:last-child{
                    font-size: 26px;
                }
            }
        }
    }
}


@media (max-width:425px){
    footer{
        h2{
            font-size: 65px;
            padding-left: 70px;
        }
        section{
            width: 100%;
            align-items: center;
            img, iframe{
                width: 1300px;
                height: 800px;
            }
        }
        address{
            flex-wrap: nowrap;
            flex-direction: column;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 500px;
            h4{
                font-size: 55px;
            }
            div{
                font-size:55px;
            }
            .direccion{
                padding-right: 96px;
            }
            .horario{
                padding-right: 50px;
            }
            .contacto{
                padding-left: 510px;
            }
        }
        article{
            .suscribete{
                font-size: 48px;
                padding-left: 350px;
                padding-right: 350px;
                .unete{
                    font-size: 52px;
                }
            }
            .correoJoin{
                input{
                    height: 120px;
                    width: 900px;
                    &::placeholder{
                        font-size: 50px;
                        position: relative;
                        bottom: 3px;
                    }
                }
                button{
                    height: 120px;
                    width: 150px;
                    font-size: 40px;
                }
            }
            .finalText{
                font-size: 50px;
                p:first-child{
                    font-size: 60px;
                }
                p:last-child{
                    font-size: 40px;
                }
            }
        }
    }
}